/* --------------------------------------------------
  3.0 Demo 1
-------------------------------------------------- */

@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}
.demo1 {
  @include push--auto;
  width: 80%;
  background: $dark;
  color: $white;
  font-size: $heading-base-size;
  @include font-size(32px, 50px);
}


.grid {
  .col {
    margin-bottom: 20px;
  }
}

.box {
  padding: 20px;
  @include css3-prefix(box-shadow, 0 2px 5px rgba(0, 0, 0, .5));
}
/*.box-primary {

}*/

.masonry-layout {
  display: none;

  column-count: 2;

  -webkit-column-count: 2;

  -moz-column-count: 2;

  column-gap: 0;

  -webkit-column-gap: 0;

  -moz-column-gap: 0;

}

.masonry-layout-panel {

  break-inside: avoid;

  page-break-inside: avoid;

  -webkit-column-break-inside: avoid;

  -moz-column-break-inside: avoid;

}


.masonry-layout {

  column-count: 1;

  -webkit-column-count: 1;

  -moz-column-count: 1;

}

