/* --------------------------------------------------
  3.0 Demo 1
-------------------------------------------------- */

@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}
.demo1 {
  @include push--auto;
  width: 80%;
  background: $dark;
  color: $white;
  font-size: $heading-base-size;
  @include font-size(32px, 50px);
}


.grid {
  .col {
    margin-bottom: 20px;
  }
}

.box {
  padding: 20px;
  @include css3-prefix(box-shadow, 0 2px 5px rgba(0, 0, 0, .5));
}
