/* --------------------------------------------------
	0.1 Settigns
-------------------------------------------------- */



/* ---- Colors ---- */
$dark: #111;
$darker: #2D2D2D;
$gray: #777;
$gray-light: #999;
$light: #ECECEC;
$lighter: #F8F8F8;
$light-bg: #F4F4F4;
$white: #FFF;
$black: #000;
$error-red: #E80000;
$success-green: #0F9D58;
$highlight-text-bg: #17DA5B;



/* ---- Label Colors ---- */
$label-red: #DB211E;
$label-green: #0BBE30;
$label-gray: #7E8C95;
$label-yellow: #FCD741;


/* ---- Text ---- */

// Font Family
$body-font: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$heading-font: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$alt-heading-font: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
$alt-heading-font1: 'Fira Sans', 'Helvetica Neue', Helvetica, sans-serif;

// Text Sizes
$base-font-size: 16px;
$base-weight: 400;
$line-hight: 1;
$letter-spacing: .2px;

// Heading Sizes
$heading-base-size: 30px;
$heading-weight: 400;

// Text Color
$base-text-color: #777;
$heading-text-color: $black;
$link-color: rgba($base-text-color, 1);



/* ---- White Space and widths---- */
$ws-xs: 50px;
$ws-s: 65px;
$ws-m: 100px;
$ws-l: 160px;

/* ---- Various Container widths ---- */
$container-s: 50%;
$container-m: 56%;

/* ---- Buttons ---- */
$btn-padding: 12px 38px;
$btn-font: $body-font;
$btn-font-size: .9em;
$btn-letter-spaceing: 2.5px;
$btn-line-height: 1.8em;
$btn-color: $light;
$btn-bg: $dark;
$btn-rounded: 0;
$btn-trans-time: .5s;
$btn-font-weight: 600;

/* ---- Forms ---- */
$input-height: 40px;
$input-border-color: #DDD;
$input-border-color-focused: $gray;


/* ---- Navigation ---- */
$navbar-higth: 75px;
$navbar-background: #FFF;
$navbar-border-color: $light;
$nav-links-font-size: .8em;
$nav-links-font-weight: 400;
$nav-links-letter-spacing: 2px;
$nav-links-color: $gray-light;
$nav-links-color-hover: $dark;
$nav-link-active-color: $dark;
// Dropdown
$dropdown-padding: 20px 0 10px 0;
$dropdown-background: rgba(255, 255, 255, .93);
$dropdown-link-padding: 11px 40px 11px 25px;
$dropdown-link-letter-spacing: .5px;
$dropdown-link-line-height: .8em;
$dropdown-link-left-border: 3px solid $dark; // don`t change the 3px;
$dropdown-link-background: rgba(17, 17, 17, .05);
$dropdown-link-shift: 35px; // no shift on 25px;
$dropdown-header-padding: 0 25px;
$dropdown-header-font-size: .8em;
$dropdown-header-font: $heading-font;
$dropdown-header-color: $dark;
$dropdown-divider-color: #DDD;
$bg-solid-white: #FFF;
$bg-solid-black: #111;


/* ---- Footer ---- */
$footer-bg: #E3E3E3;
$footer-copyright-bg: #222;
$footer-hr-color: #999;

/* ---- Other ---- */
$hr-color: #CCC;
$name: 'animate';

/* ---- Media Queries Breakpoints ---- */
$screen-xs: 600px;
$screen-sm: 770px;
$screen-md: 992px;
$screen-lg: 1260px;
$screen-xlg: 1440px;

