<!-- ========== Preloader ========== -->
<div class="preloader">
    <img src="images/loader.svg" alt="Loading...">
</div>

<!-- ========== Navigation ========== -->
<nav class="navbar navbar-default navbar-fixed-top mega navbar-inverse navbar-trans" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Logo -->
            <a class="navbar-brand" href="index.html">Logo</a>
        </div>

        <!-- Navbar Links -->
        <div id="navbar" class="navbar-collapse collapse  navbar-right">
            <ul class="nav navbar-nav">

                <li class="dropdown active"><!-- .mega-fw for full width -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                </li>                             
            </ul>      
           
        </div>
    </div>
</nav>