<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Demo 1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

    <!-- Scripts -->
    <script src="js/app.min.js" async="async"></script>

    <!-- Fonts -->
    <!-- <link rel="stylesheet" href="fonts/et-lineicons/css/style.css">
    <link rel="stylesheet" href="fonts/linea-font/css/linea-font.css"> -->
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="css/style.min.css">

  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar">
    hello
    <!-- heading, text and white background -->
    
    <% buttons %>

    <% grid %>

  </body>
</html>
